div.fggm_contac_us_img{
    width:34px;
    height:200px;
    position:fixed;
    background: url(../image/button.png) no-repeat center center;
}
div#fggm-box-popup{
    background-image: url("../image/overlay.png");
}
div#fggm_form_show{
    width:800px;
    height:500px;
    position: relative;
    border: 3px solid white;
    background-color: rgb(17, 86,124);
    /*background-color:#FFEAAE;*/
    background-color:#fff;
    color: white;
    opacity: 1;
    filter: alpha(opacity=100);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}
.fg_form_area{
    width:400px;
    height:488px;
    border-right: 1px solid #5C5C5C;
    padding-left:35px;
    padding-top: 15px;
    float:left;
}
#googleMap{
    height:75.8%;
    width:360px;
    float: right;
    margin:0;
    padding:0;
    border: 2px solid #9fb7c4;
}
.map_heading{
    color: white;
    height:30px;
    font-size: 19px;
    width:355px;
    float:right;
    font-family:Georgia,serif;
    padding-left: 9px;
    padding-top:4px;
    background-color: #404a4f;
}
.contact_address{
    color:#4f4f4f;
    height:15%;
    float:left;
    width:340px;
    font-size: 14px;
    font-family:Arial,Helvetica,sans-serif;
    margin-left:9px !important;
    display: block;
    -webkit-margin-before: 0.8em;
     -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; 
}
input.color{
    border-radius: 3px;
}